[*.cs]

# SA0001: All diagnostics of XML documentation comments has been disabled due to the current project configuration.
dotnet_diagnostic.SA0001.severity = none

# SA1101: A call to an instance member of the local class or a base class is not prefixed with 'this.', within a C# code file.
dotnet_diagnostic.SA1101.severity = none

# SA1623: The documentation text within a C# property's <summary> tag does not match the accessors within the property.
dotnet_diagnostic.SA1623.severity = none
